h1 {
display: inline;
font-size: 3em;
border: 2px solid;
border-color: crimson;
}

p2 {
font-size: 1em;
}

table, tr {
  border: 1px solid black;
  width: 100%; 
  background-image: linear-gradient(to bottom right, red, yellow)
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centertxt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
